:root {
  --red: #8a2121;
  --light-red: #ef4135;
  --blue: #03aeef;
  --grey: #726d67;
  --bg-color: #fff;
  --shadow-color: #323232;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #0070f3;
}

.info-cards-grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 2rem;
  border: 2px solid var(--grey);
  border-radius: 10px;
  padding: 20px;
}

.info-card {
  max-width: 104px;
  height: fit-content;
  background: black;
  color: #fff;
  border: 2px solid var(--shadow-color);
  box-shadow: 4px 4px var(--shadow-color);
  border-radius: 5px;
  font-family: Teko, sans-serif;
  transition: 0.5s;
}

.info-card:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 8px 8px var(--red);
  border-color: var(--red);
}